.root {
  > [class~="theme-admonition"] {
    border-radius: 0;
    padding: 10px 20px;
    letter-spacing: 0.2px;
    box-shadow: none;

    div:first-child {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 12px;
      line-height: 18px;

      span {
        display: none;
      }
    }

    div:nth-child(2) p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
    }
  }
}