.display-data__line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 10px;
  flex-flow: wrap;
}

.display-data__line-title {
  border: 1px solid var(--tg-theme-accent-text-color);
  background-color: var(--tg-theme-bg-color);
  border-radius: 5px;
  padding: 2px 8px 4px;
  box-sizing: border-box;
}

.display-data__line-value {
  word-break: break-word;
}
