@use "sass:math";
@use "sass:map";
//@use "../Typography/_utils.scss" as typography;
//@use "../Loader/_utils.scss" as loader;

$sizeSettings: (
  "sm": (
    "height": 36,
    "text-type": "subheadline2",
    "padding-x": 12,
    "border-radius": (
      "base": 8,
      "ios": 12,
    )
  ),
  "md": (
    "height": 42,
    "text-type": "subheadline2",
    "padding-x": 14,
    "border-radius": (
      "base": 8,
      "ios": 12,
    ),
  ),
  "lg": (
    "height": 50,
    "text-type": "text",
    "padding-x": 18,
    "border-radius": (
      "base": 8,
      "ios": 10,
    )
  ),
);

$platforms: ["base", "ios"];

.tgui-button {
  border: none;

  &--full-width {
    width: 100%;
  }

  &--rounded {
    border-radius: 1000px;
  }

  @each $platform in $platforms {
    @each $sizeType, $settings in $sizeSettings {
      &--#{$platform} {
        padding: 0 #{map.get($settings, "padding-x")}px;
      }

      &--#{$platform}-#{$sizeType} {
        border-radius: #{map.get(map.get($settings, "border-radius"), $platform)}px;
      }
    }
  }

  &__content {
    margin: auto;

    @each $platform in $platforms {
      @each $sizeType, $settings in $sizeSettings {
        //&--#{$platform}-#{$sizeType} {
        //  padding: #{math.div(
        //    map.get($settings, "height") - typography.line-height(
        //      $platform,
        //      map.get($settings, "text-type")
        //    ),
        //    2
        //  )}px 0;
        //}
      }
    }
  }

  &__loader {
    @each $platform in $platforms {
      @each $sizeType, $settings in $sizeSettings {
        &--#{$platform}-#{$sizeType} {
          //margin: #{math.div(
          //  map.get($settings, "height") - loader.size($platform, "sm"),
          //  2
          //)}px auto;
        }
      }
    }
  }
}
