@import "../../../scss/utils";

// l
$root-sm-height: 16px;
$root-sm-width: 30px;

$track-sm-height: 10px;
$track-sm-padding: 4px;

$switch-sm-size: $root-sm-height;
// l

// l
$root-m-height: 25px;
$root-m-width: 44px;

$track-m-height: 15px;
$track-m-padding: 4px;

$switch-m-size: $root-m-height;
// l

// l
$root-l-height: 39px;
$root-l-width: 68px;

$track-l-height: 25px;
$track-l-padding: 4px;

$switch-l-size: $root-l-height;
// l

// xl
$root-xl-height: 57px;
$root-xl-width: 95px;

$track-xl-height: 35px;
$track-xl-padding: 4px;

$switch-xl-size: $root-xl-height;
// xl

@mixin root-size($width, $height) {
  @include size($width, $height);
}

@mixin track-size($height, $padding) {
  margin-left: $padding;

  @include size(calc(100% - $padding * 2), $height);

  &Checked {
  }
}

@mixin switch-size($size) {
  @include size($size, $size);

  &Checked {
    left: calc(100% - $size)
  }
}

.root {
  cursor: pointer;
  position: relative;
  display: inline-block;

  &SizeSM {
    @include root-size($root-sm-width, $root-sm-height);
  }

  &SizeM {
    @include root-size($root-m-width, $root-m-height);
  }

  &SizeL {
    @include root-size($root-l-width, $root-l-height);
  }

  &SizeXL {
    @include root-size($root-xl-width, $root-xl-height);
  }
}

.track {
  position: absolute;
  border-radius: 1000px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s ease;
  width: 100%;
  background-color: #AEB5BB;

  &Checked {
  }

  &SizeSM {
    @include track-size($track-sm-height, $track-sm-padding);
  }

  &SizeM {
    @include track-size($track-m-height, $track-m-padding);
  }

  &SizeL {
    @include track-size($track-l-height, $track-l-padding);
  }

  &SizeXL {
    @include track-size($track-xl-height, $track-xl-padding);
  }
}

.switch {
  position: absolute;
  display: block;
  left: 0;
  border-radius: 50%;
  box-sizing: border-box;
  transition: background-color 0.2s ease, left 0.3s ease, border 0.2s ease;
  background-color: white;
  border: solid #AEB5BB;

  &SizeSM {
    @include switch-size($switch-sm-size)
  }

  &SizeM {
    @include switch-size($switch-m-size)
  }

  &SizeL {
    @include switch-size($switch-l-size)
  }

  &SizeXL {
    @include switch-size($switch-xl-size)
  }

  &Active {
    &Checked {
    }
  }
}