@use "./variants" as variants;

.tgui-typography {
  margin: 0;
  padding: 0;

  // fixme: Better fonts?
  @each $platform, $fonts in (
    "base": (
      "default": #{"Roboto", sans-serif},
      "mono": #{"Roboto Mono", monospace}
    ),
    "ios": (
      "default": #{"SF Pro", -apple-system, sans-serif},
      "mono": #{"SF Mono", monospace}
    )
  ) {
    &--#{$platform} {
      font-family: map-get($fonts, "default");

      &-monospace {
        font-family: map-get($fonts, "mono");
      }

      @each $variant, $_ in variants.$variants {
        &-#{$variant} {
          line-height: variants.line-height($platform, $variant);
          letter-spacing: variants.letter-spacing($platform, $variant);
        }
      }
    }
  }

  @each $weight-type, $weight in ("regular": 400, "semibold": 600, "bold": 700) {
    &--#{$weight-type} {
      font-weight: $weight;
    }
  }

  @each $variant, $_ in variants.$variants {
    &--#{$variant} {
      font-size: variants.font-size($variant);
    }
  }
}
