@import "../../css/variables";

.root {
  top: var(--ifm-navbar-height);
  margin-top: -20px;

  [class~="table-of-contents__link"] {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: $tocLinkColor;
  }

  [class~="table-of-contents__link--active"] {
    color: $tocLinkActiveColor !important;
  }

  [class~="table-of-contents__left-border"] {
    border-color: $tocBorderColor;
  }

  code {
    padding: 2px 4px;
    color: black;
    background: $codeBackgroundColor;
  }
}

[data-theme='dark'] {
  code {
    color: white;
    background: transparentize($primaryColor, 0.6);
  }

  [class~="table-of-contents__left-border"] {
    border-color: $darkThemeTocBorderColor;
  }

  [class~="table-of-contents__link"] {
    color: $darkThemeTocLinkColor;
  }
}