.root {
  font-size: 12px;
  line-height: 16px;
  color: #3C3C4399;
}

.title {
  padding: 0 0 8px 16px;
  margin: 0;
  text-transform: uppercase;
}

.description {
  padding: 8px 0 0 16px;
  margin: 0;
}

.table {
}