.ton-connect-page__button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ton-connect-page__provider {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}

.ton-connect-page__provider-image {
  border-radius: 5px;
}

.ton-connect-page__provider-meta {
  display: flex;
  flex-direction: column;
  /*gap: 15px;*/
}

.ton-connect-page__provider-wallet-name {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.ton-connect-page__provider-app-name {
  opacity: .4;
  font-weight: 400;
  font-size: 14px;
  vertical-align: top;
}