$spacing: 16px;
$border-radius: 10px;
$icon-width: 30px;
$height: 44px;

.root {
  display: flex;
  align-items: stretch;
  position: relative;
  gap: $spacing;
  background: #fff;
  padding: 0 $spacing;
  font-size: 17px;
  line-height: $height;
  letter-spacing: -0.408px;
  color: #000;
  height: $height;
  -webkit-user-select: none;
  user-select: none;
}

.rootFirst {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.rootLast {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.rootActiveLevel1 {
  background-color: #E6E5EB;
}

.rootActiveLevel2 {
  background-color: #D1D1D5;
}

.bottomLine {
  position: absolute;
  left: $spacing;
  bottom: 0;
  right: 0;
  height: 0.5px;
  background-color: rgba(60, 60, 67, 0.36);
}

.bottomLineHasIcon {
  left: $spacing * 2 + $icon-width;
}

.icon {
  flex: 0 0 30px;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  flex: 1 0 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  margin: 0;
  color: rgba(60, 60, 67, 0.60);
}

.chevron {
  color: rgba(60, 60, 66, 0.3);
}
