.root {
  position: fixed;

  button::after {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC41NTIwMjEgOC4yNjU5OEMwLjI0NDczMyA4LjU4MTggMC4yNDQ3MzIgOS4wODQ4NiAwLjU1MjAyMSA5LjQwMDY5VjkuNDAwNjlDMC44NzE0NDkgOS43Mjg5OSAxLjM5ODgyIDkuNzI4OTkgMS43MTgyNSA5LjQwMDY5TDUuMzIxNDkgNS42OTczNkM1LjY5OTE5IDUuMzA5MTYgNS42OTkxOSA0LjY5MDg0IDUuMzIxNDkgNC4zMDI2NUwxLjcxODI1IDAuNTk5MzEzQzEuMzk4ODIgMC4yNzEwMTEgMC44NzE0NDkgMC4yNzEwMTEgMC41NTIwMiAwLjU5OTMxMlYwLjU5OTMxMkMwLjI0NDczMSAwLjkxNTEzNyAwLjI0NDczMiAxLjQxODIgMC41NTIwMiAxLjczNDAyTDMuMDUxMjIgNC4zMDI2NEMzLjQyODkyIDQuNjkwODQgMy40Mjg5MiA1LjMwOTE2IDMuMDUxMjIgNS42OTczNkwwLjU1MjAyMSA4LjI2NTk4WiIgZmlsbD0iIzRDOTFFNSIvPgo8L3N2Zz4K") no-repeat center;
    background-size: 10px;
    transform: rotate(-90deg);
    mask: unset;
  }
}