.root {
  font-size: 0.95em;
}

.title {
  font-weight: bold;
  font-size: 1.8em;
  padding-bottom: 10px;
}

.line {
  padding-bottom: 15px;
}

.lineTitle {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 1.2em;
}

.lineValue {
  white-space: normal;
  word-break: break-word;
}

.colorWrapper {
  display: flex;
  align-items: center;
}

.color {
  width: 18px;
  height: 18px;
  border: 1px solid #555;
  border-radius: 50%;
  margin-right: 5px;
}