$toggle-size: 27px;
$padding: 2px;
$width: 51px;

// Variables:
$background: var(--switch-background, #78788028);
$background-checked: var(--switch-checked-background, #34C759);

.root {
  display: inline-block;
  background: $background;
  width: $width;
  height: $toggle-size + $padding * 2;
  border-radius: 1000px;
  position: relative;
  padding: $padding;
  box-sizing: border-box;
  transition: 300ms padding-left, 300ms background-color;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;

  &Checked {
    background-color: $background-checked;
    padding-left: $width - $toggle-size - $padding;
  }
}

.input {
  display: none;
}

.track {
  height: $toggle-size;
  width: $toggle-size;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
}