$primaryColor: #0088cc;

$codeBackgroundColor: #feeae4;
$codeColor: #c61717;

$darkThemeCodeBackgroundColor: rgb(94 44 44 / 20%);
$darkThemeCodeColor: #ed4545;

$tocLinkActiveColor: $primaryColor;
$tocLinkColor: #8C8C8C;
$tocBorderColor: #E8E8E8;

$darkThemeTocLinkColor: #8C8C8C;
$darkThemeTocBorderColor: #262626;
