/** Colors **/
// Primary
$colorPrimary: #0088cc;

$colorPrimaryDark: darken($colorPrimary, 10);
$colorPrimaryDarker: darken($colorPrimary, 20);
$colorPrimaryDarkest: darken($colorPrimary, 30);

$colorPrimaryLight: lighten($colorPrimary, 10);
$colorPrimaryLighter: lighten($colorPrimary, 20);
$colorPrimaryLightest: lighten($colorPrimary, 30);

$darkColorPrimary: #28b2ff;

$darkColorPrimaryDark: darken($darkColorPrimary, 10);
$darkColorPrimaryDarker: darken($darkColorPrimary, 20);
$darkColorPrimaryDarkest: darken($darkColorPrimary, 30);

$darkColorPrimaryLight: lighten($darkColorPrimary, 10);
$darkColorPrimaryLighter: lighten($darkColorPrimary, 20);
$darkColorPrimaryLightest: lighten($darkColorPrimary, 30);


$primaryColor: #0088cc;

$codeBackgroundColor: #feeae4;
$codeColor: #c61717;

$darkThemeCodeBackgroundColor: rgb(94 44 44 / 20%);
$darkThemeCodeColor: #ed4545;

$tocLinkActiveColor: $primaryColor;
$tocLinkColor: #8C8C8C;
$tocBorderColor: #E8E8E8;

$darkThemeTocLinkColor: #8C8C8C;
$darkThemeTocBorderColor: #262626;
