@import "./variables";

[class~="markdown"] {
  --ifm-global-shadow-lw: none;
  --ifm-pre-padding: 10px;

  font-size: 14px;

  code {
    background: $codeBackgroundColor;
    border: 1px solid $codeBorderColor;
  }

  h1:first-child {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  h2 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    margin-top: 28px;
  }

  h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin-bottom: 14px;
  }

  h4 {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.5px;

    & > code {
      font-family: var(--ifm-font-family-base);
      padding: 2px 4px;
    }
  }

  p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;

    & > code {
      font-family: var(--ifm-font-family-base);
      padding: 2px 4px;
    }
  }

  strong {
    font-weight: 500;
  }

  pre > code {
    font-size: 14px;
    border: none;
    background-color: #F6F8FA;
  }
}

[data-theme='dark'] {
  [class~="markdown"] {
    pre > code {
      background-color: rgba(255, 255, 255, 0.01);
    }
  }
}