@import "./variables";

[class~="markdown"] {
  --ifm-global-shadow-lw: none;
  --ifm-pre-padding: 10px;
  font-size: 14px;

  a {
    code:hover {
      text-decoration: underline;
    }
  }

  // Any code, met in markdown.
  code {
    background: $codeBackgroundColor;
    color: $codeColor;
    border: none;
    border-radius: 0;
    padding: 3px 5px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  h1:first-child {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  h2 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    margin-top: 28px;
  }

  h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin-bottom: 14px;
  }

  h4 {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
  }

  // Any paragraph.
  p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;

    + table {
      margin-top: -10px;
    }

    + ul {
      margin-top: -13px;
    }
  }

  ul:not([class~="tabs"]) {
    padding-left: 10px;
    list-style-type: none;

    li::before {
      display: inline-block;
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $primaryColor;
      margin-right: 13px;
    }
  }

  strong {
    font-weight: 500;
  }

  // Wrapper around CodeBlock.
  pre {
    background-color: transparent;
    border-radius: 0;

    // CodeBlock itself.
    code {
      font-size: 14px;
      border: none;
      background-color: #ecf3f8;
      padding: 8px;
    }
  }

  // Usual table.
  table {
    display: table;
    width: 100%;
    text-align: left;
    line-height: 1.42857143;

    thead {
      background-color: transparent;

      tr {
        border-bottom: 2px solid #eee;
      }
    }

    tbody {
      td {
        border-left: none;
        border-right: none;
        border-color: #eee;
      }
    }

    tr {
      border-top: none;
      background: transparent;
    }

    td, th {
      padding: 8px;
      vertical-align: top;
    }

    th {
      border: none;
      font-size: 14px;
      min-width: 70px;
    }
  }
}

[data-theme='dark'] {
  [class~="markdown"] {
    code {
      background: $darkThemeCodeBackgroundColor;
      color: $darkThemeCodeColor;
    }

    pre code {
      background-color: rgba(255, 255, 255, 0.01);
    }

    table {
      tr, td {
        border-color: #484848;
      }
    }
  }
}