.links {
  list-style: none;
  padding-left: 0;
}

.link {
  font-weight: bold;
  display: inline-flex;
  gap: 5px;
}

.linkItem + .linkItem {
  margin-top: 10px;
}

.linkIcon {
  width: 20px;
  display: block;
}

.linkIcon svg {
  display: block;
}