$border-radius: 10px;
$icon-width: 29px;
$horizontal-padding: 20px;

$gap: 15px;
$gap-large: 13px;

.root {
  display: flex;
  align-items: center;
  position: relative;
  gap: $gap;
  background: var(--detailed-table-view-cell-background, #fff);
  padding: 0 $horizontal-padding;
  height: 58px;

  &SizeLarge {
    gap: $gap-large;
    height: 73px;
  }

  &ActiveElevation {
    &1 {
      background: var(--detailed-table-view-cell-root-active-elevation-1-background, #E6E5EB);
    }

    &2 {
      background: var(--detailed-table-view-cell-root-active-elevation-2-background, #D1D1D5);
    }
  }
}

.separator {
  position: absolute;
  left: $horizontal-padding;
  bottom: 0;
  right: 0;
  height: 0.5px;
  background-color: var(--detailed-table-view-cell-separator-color, #3C3C435B);

  &HasIcon {
    left: $horizontal-padding + $icon-width + $gap;

    &SizeLarge {
      left: $horizontal-padding + $icon-width + $gap-large;
    }
  }
}

.icon {
  flex: 0 0 30px;
  display: flex;
  align-items: center;
}

.content {
  flex: 1 0 0;
}

.title {
  color: var(--detailed-table-view-cell-title-color, #000);
  margin: 0;

  &SizeLarge {
    font-weight: 600;
  }
}

.description {
  font-size: 12px;
  line-height: 16px;
  margin-top: 2px;
  letter-spacing: 0;
  color: var(--detailed-table-view-cell-description-color, #000);
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  margin: 0;
  color: var(--detailed-table-view-cell-label-color, #3C3C4399);
}

.chevron {
  color: var(--detailed-table-view-cell-chevron-color, #3C3C424C);
}
