.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 28px 20px;
}

.image {
  width: 112px;
  height: 112px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 8px;
}

.subtitle {
  margin-bottom: 10px;
}

.button {}