.root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 112px;
  margin-bottom: 10px;
}

.title {}

.subtitle {}

.button {}