@use "../../scss/palette" as palette;

.tgui-progress {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  height: 4px;

  &::-webkit-progress-value {
    background-color: palette.refer-css-var(--tgui-progress-value-color, "link-color");
    border-radius: 1000px;
  }

  &--ios::-webkit-progress-bar {
    background-color: transparent;
  }

  &--base::-webkit-progress-bar {
    background-color: palette.refer-css-var(--tgui-progress-bg-color, "secondary-fill");
    border-radius: 1000px;
  }
}