.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.provider {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}

.providerImage {
  border-radius: 5px;
}

.providerMeta {
  display: flex;
  flex-direction: column;
}

.providerWalletName {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.providerAppName {
  opacity: .4;
  font-weight: 400;
  font-size: 14px;
  vertical-align: top;
}