name: Deploy docs to GitHub Pages

run-name: Deploy docs to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - packages/documentation/**

jobs:
  deploy:
    name: Deploy docs to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      # Setup node.
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      # Install pnpm
      - name: Install pnpm
        run: npm i -g pnpm

      # Install dependencies.
      - name: Install dependencies
        run: pnpm i

      # Create documentation build directory.
      - name: Build documentation
        run: pnpm run docs:build

      # Popular action to deploy to GitHub Pages:
      # Docs: https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-docusaurus
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./packages/documentation/build
          publish_branch: gh-pages-docs
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com