name: Run changeset

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - ".changeset/**.md"

jobs:
  run-changeset:
    name: Run changeset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Install packages dependencies only
        run: pnpm run ci:packages:install-deps

      - name: Build packages
        run: pnpm run ci:packages:build

#      - name: Lint packages
#        run: pnpm run ci:packages:lint

      - name: Check packages types
        run: pnpm run ci:packages:typecheck

      - name: Test packages
        run: pnpm run ci:packages:test

      - name: Run changeset
        uses: changesets/action@v1
        with:
          publish: pnpm changeset publish
          commit: 'chore(packages): version packages'
          title: 'chore(packages): version packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}