$horizontal-padding: 16px;
$height: 44px;

// Variables:
$input-color: var(--text-field-input-color, #000);
$caret-color: var(--text-field-caret-color, #446BF2);
$placeholder-color: var(--text-field-placeholder-color, #3C3C4399);

.root {
  display: inline-block;
  vertical-align: top;
  height: $height;
  position: relative;
}

.input {
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  display: block;
  appearance: none;
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: $input-color;
  padding: 0;
  height: 100%;
  width: 100%;
  caret-color: $caret-color;
  -webkit-tap-highlight-color: transparent;

  &:active, &:focus {
    outline: none;
  }
}

.placeholder {
  color: $placeholder-color;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  pointer-events: none;
}

.clear {
  position: absolute;
  right: $horizontal-padding;
  top: 50%;
  transform: translateY(-50%);
}
