.root {
  background-color: var(--table-view-cell-bg);
  color: var(--table-view-cell-color);
}

.rootActiveElevation1 {
  background-color: var(--table-view-cell-root-active-elevation-1-bg);
}

.rootActiveElevation2 {
  background-color: var(--table-view-cell-root-active-elevation-2-bg);
}

.separator {
  background-color: var(--table-view-cell-separator-bg);
}

.label {
  color: var(--table-view-cell-label-color);
}

.chevron {
  color: var(--table-view-cell-chevron-color);
}